body {
    background:#E3E1DC;
    font-size:16px;
    font-family:Helvetica, Arial;
    line-height:1.2em;
    color:#222222;
}

pre {
    font-family:Consolas, Courier;
    font-size: 12px;
    color:#444444;
    line-height:12px;
    margin-left:30px;
    margin-top:-28px;
}

.instructions {
    margin-left:25px;
}