body {
    background: #fff;
    font-size:16px;
    font-family:Helvetica, Arial;
    line-height:1.2em;
    color:#222222;
}

.qno {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    color:#444444;
    line-height:15px;
    margin: 10px 0px;
    background: #ddd;
    padding:15px;
}
.qno:hover{
    color:#444444;
    background: #ddd;
}

.instructions {
    margin:25px;
}

.instructions h1{
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    color: lineargradient();
}

.ui-button {
    background: #4E9AF1;
	color: white;
	border-style: outset;
	border-color: #4E9AF1;
	font: bold 15px arial,sans-serif;
    width:160px;
    height:45px;
}

.question {
    font-size: 18px;
    background:#ddd;
    padding:15px;
}

/* .wrong {
    border-left:#BA3D49 5px solid;
    padding-left:10px;
} */

p {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

p:hover {
    background-color: #ddd;
}

input[type="radio"]:checked + p {
    background-color: #4CAF50;
    color: #fff;
}

input[type="radio"]:checked + p {
    background: #20b8be;
    border-radius: 4px;
  }