* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, sans-serif;
    background-color: #fff;
}

.navbar {
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    font-size: 20px;
    float: left;
    width: 100%;
    padding: 20px 250px;
    margin: 0 30px;
    text-align: center;
    background-color: #4E9AF1;
}

.navbar a.active {
    background-color: #5a8dc8;
    color: white;
}

.question-container {
    align-items: center;
}

.question {
    background-color: #fff;
    display: none;
}

.question.active {
    display: block;
}

.btn-links h2 {
    background-color: #ddd;
    width: 50%;
    padding: 20px 60px ;
    margin: 15px auto;
    border-radius: 10px;
	text-align: center;
	font-size: 25px;
}

.center {
    text-align: center;
    margin: 50px 0;
    bottom: 32px;
    left: 41rem;
}

.btn-back {
    text-align: center;
    background: #4f546c;
    color: white;
    border-radius: 7px;
    font-size: 20px;
    padding: 20px 25px;
    text-decoration: none;
    transition: all 0.2s;
}