@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(120deg, #fcff40, #9caf0b, #9dc209);
  }