@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  margin: 0
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(120deg, #fcff40, #9caf0b, #9dc209);
  }

  h1 {
    color: rgb(0, 0, 0);
    font-family: "Oswald", sans-serif;
    text-align: center;
  }

  
.registartion-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-family: sans-serif;
    margin-top: 25px;
    background-color: #decabd;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
  }

  
.registartion-form input,
.registartion-form select,
.registartion-form textarea {
  border: none;
  padding: 5px;
  margin: 5px 0;
  font-family: sans-serif;
  border-radius: 3px;
}


.registartion-form input:focus,
.registartion-form textarea:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.36) 0px 3px 13px;
}


.registartion-form .submit {
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    margin: 30px 0;
    background-color: #503349;
    border-radius: 5px;
  }

  
.registartion-form .submit:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
  