/* Lesson 4 Styles */

body {
    background-color: #F9D9E0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }

/* Navigation Bar */

nav {
    background-color: #33BBFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }