/* Lesson 4 Styles */

body {
    background-color: #F9D9E0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }

/* Navigation Bar */

nav {
    background-color: #33BBFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  nav a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }

  nav a:hover {
    text-decoration: underline;
  }
  
  nav h1 {
    color: #fff;
    font-size: 36px;
    margin: 0;
  }

  /* Main Content */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
  }

  h2 {
    font-size: 30px;
    margin-top: 50px;
  }

  video {
    width: 100%;
    height: auto;
    margin-top: 50px;
  }

  .alphabet {
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #33BBFF;
  }
  footer {
    background-color: #4E9AF1;
    color: white;
    padding: 10px;
    text-align: center;
  }