body {
	background-color: #F7CAC9;
	font-family: Arial, sans-serif;
}

.header {
	background-color: #4E9AF1;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 24px;
	font-weight: bold;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
}

.navbar a {
	color: white;
	margin-right: 20px;
	text-decoration: none;
	font-size: 18px;
}

.content {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.footer {
	background-color: #4E9AF1;
	color: white;
	padding: 10px;
	text-align: center;
}