/* Navigation Bar */
nav {
  display: flex;
	flex-wrap: wrap;
}

body {
	background-color: #F7CAC9;
	font-family: Arial, sans-serif;
}

.logo {
	font-size: 24px;
	color: #fff;
	font-weight: bold;
}

header {
	background-color: #4E9AF1;
	color: white;
	text-decoration: none;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-link{
	display: flex;
	background-color: #4E9AF1;
	text-decoration: none;
	font-size: 18px;
	color: #fff;
}

nav ul {
	list-style: none;
	display: flex;
}

.nav-item {
	margin-right: 20px;

	color: white;
}

.nav-link:hover {
	text-decoration: underline;
}

nav{
	display: flex;
	flex-wrap: wrap;
}

/* Main Content */

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

main p {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Lesson Content */
.lesson {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.lesson img {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid #4caf50;
  border-radius: 5px;
}

.lesson h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.lesson p {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #4E9AF1;
	color: white;
	padding: 10px;
	text-align: center;
}